body {
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M5 3.59L1.46.05.05 1.46 3.59 5 .05 8.54l1.41 1.41L5 6.41l3.54 3.54 1.41-1.41L6.41 5l3.54-3.54L8.54.05 5 3.59zM17 2h24v2H17V2zm0 4h24v2H17V6zM2 17h2v24H2V17zm4 0h2v24H6V17z'/%3E%3C/g%3E%3C/svg%3E");
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  font-family: "Indie Flower", cursive;
  font-size: 18px;
}

h1 {
  color: brown;
}

#listaTablas {
  list-style-type: none;
  padding: 0;
  margin: auto;
  width: 60%;
  border: 3px solid brown;
  padding: 10px;
}

#inputRestultado {
  margin: 0px;
  padding: 300px;
}

label {
  display: inline-block;
  text-align: right;
  font-family: "Princess Sofia", cursive;
}
button {
  margin: 10px 40px 10px 15px;
  align-items: center;
}
